/* 16px = 1rem = 1em = 100% */

body {
    background-image: url("/images/621682.jpg");
    background-color: #082032;
    color: #534b2b;
    background-size: cover;
    position: relative;
}

footer{
    text-align: center;
    /* margin-top: 33rem; */
    position: fixed;
    bottom: 0;
    left: 50rem;
}

.com-tools{
    margin-left: 3rem;
    position: absolute;
}

.t1{
    top: 5rem;
}

.t2{
    margin-top: 16rem;
}

.links{
    color: #534b2b;
    text-decoration: none;
    /* margin: 4px 2px; */
    transition: 0.35s;
    font-family: 'Merriweather', serif;
    opacity: 0.5;
}

.links:hover {
    font-size: 120%;
    opacity: 1;
    color: #132C33;
}

.heading{
    text-align: center;
}

.IC{
   margin-top: 2%; 
}

.h5{
    padding: 0 0 1rem 0;
}

h1{
    margin-top: 2rem;
}



@media (max-width: 1199.98px){
    body{
        background-image: none;
        background-color: #CDF2CA;
    }
    .com-tools{
        position: relative;
        text-align: center;
    }
    table{
        margin: auto;
    }
    .t2{
        margin-top: 7rem;
    }
    .links:hover {
        font-size: 110%;
        opacity: 1;
        color: #132C33;
    }
    footer{
        position: relative;
        bottom: 0;
        left:1.5rem;
        margin-top:1rem;
    }
}



@media screen and (max-width: 1299.98px) and (min-width: 1200px) {
    .links{
        font-size: 80%;
    }
    .links:hover {
        font-size: 100%;
        opacity: 1;
        color: #132C33;
    }
    .t2{
        left: 60rem;
        top: 7rem;
        margin:0rem;
    }
    footer{
        left: 30rem;
    }
}



@media screen and (max-width: 1365px) and (min-width: 1300px) {
    .links{
        font-size: 80%;
    }
    .links:hover {
        font-size: 100%;
        opacity: 1;
        color: #132C33;
    }
    .t2{
        left: 70rem;
        top: 7rem;
        margin:0rem;
    }
    footer{
        left: 32rem;
    }
}




@media screen and (max-width: 1550px) and (min-width: 1366px) {
    .links{
        font-size: 80%;
    }
    .links:hover {
        font-size: 100%;
        opacity: 1;
        color: #132C33;
    }
    .t1{
        top: 2rem;
    }
    
    .t2{
        top: 3rem;
    }
    footer{
        left: 37rem;
    }
    
}
