body{
    margin: 0px;
    text-align: center;
}

.top-container {
  background-color: #E4F9F5;
  position:relative;
  padding-top: 100px;
  
}

h1{
    font-family: 'Dancing Script', cursive;
}

h2{
     font-family: 'Lobster', cursive;
}

h3 {
    font-family: 'Crimson Text', serif;
}  

.middle-container {
    
}

.bottom-container {
    
}

.top-cloud {
    position: absolute;
    top: 50px;
    right: 200px;

}
.bottom-cloud {
    position: absolute; /*parent directory hisab e top-container k dhora hoise ei jonno oitar position k reltive kore dea ase*/
    left: 200px;
}